@using MVC.project.ViewModels.ModelViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ModelViewModel;
<h2>Create Vehicle Model</h2>
<form method = "post" action = "CreateModel" onsubmit="myButton.disabled = true; return true;">
    <div asp-validation-summary="All"></div>
	<div>Name: <input class="form-control" asp-for = "Name"/></div>
	<div>Abrv: <input class="form-control" asp-for = "Abrv"/></div>
	<div>Vehicle Make: <select asp-for="MakeId" asp-items="ViewBag.VehicleMakeInList"></select></div>       
	<input name="myButton" type="submit"/>
	<button formmethod ="get" type = "submit" asp-action="VehicleModel">Back</button>
</form>
