@page
@model ZaPrav.NetCore.Pages.ModelCreatorModel
@{
}
<h2>Create Vehicle Model</h2>

<p>Enter Vehicle Model data</p>
<form AutoCompleteType="Disabled" method = "post">
	<div>
		Name: <input value = "" asp-for = "name"/>
		<span asp-validation-for = "name"></span>
	</div>
	<div>
		Abrv: <input value = "" asp-for = "abrv"/>
		<span asp-validation-for = "abrv"></span>

	</div>
	<input type="submit"/>
	<a asp-page="./Index">Back to Index</a>
</form>
