@{
    ViewData["Title"] = "Home Page";
}

<ul>
  <li><a asp-controller="Make" asp-action = "VehicleMake">Vehicle Make</a></li>
  <li><a  asp-controller="Model" asp-action = "VehicleModel">VehicleModel</a></li>
</ul>
